parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$path of function dirname expects string, string\\|false given\\.$#"
			count: 1
			path: src/TestBench/AbstractAnalysisTestCase.php

		-
			message: "#^Unsafe call to private method PreemStudio\\\\Jetpack\\\\TestBench\\\\AbstractAnalysisTestCase\\:\\:candidates\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/TestBench/AbstractAnalysisTestCase.php

		-
			message: "#^Unsafe call to private method PreemStudio\\\\Jetpack\\\\TestBench\\\\AbstractAnalysisTestCase\\:\\:rootPath\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/TestBench/AbstractAnalysisTestCase.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Foundation\\\\Application\\:\\:\\$config\\.$#"
			count: 6
			path: src/TestBench/AbstractPackageTestCase.php

		-
			message: "#^Method PreemStudio\\\\Jetpack\\\\TestBench\\\\AbstractPackageTestCase\\:\\:getRequiredServiceProviders\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/TestBench/AbstractPackageTestCase.php

		-
			message: "#^Method PreemStudio\\\\Jetpack\\\\TestBench\\\\AbstractPackageTestCase\\:\\:getServiceProviderClass\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/TestBench/AbstractPackageTestCase.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toBeArray\\(\\)\\.$#"
			count: 1
			path: src/TestBench/helpers.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toBeInstanceOf\\(\\)\\.$#"
			count: 2
			path: src/TestBench/helpers.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toBeSubclassOf\\(\\)\\.$#"
			count: 2
			path: src/TestBench/helpers.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toBeTrue\\(\\)\\.$#"
			count: 2
			path: src/TestBench/helpers.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toContain\\(\\)\\.$#"
			count: 1
			path: src/TestBench/helpers.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toEqual\\(\\)\\.$#"
			count: 1
			path: src/TestBench/helpers.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toMatchFacadeAccessor\\(\\)\\.$#"
			count: 1
			path: src/TestBench/helpers.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toMatchFacadeRoot\\(\\)\\.$#"
			count: 1
			path: src/TestBench/helpers.php

		-
			message: "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:toMatchFacadeSubclass\\(\\)\\.$#"
			count: 1
			path: src/TestBench/helpers.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/TestBench/helpers.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 13
			path: src/TestBench/helpers.php
